.links {
    color: black;
    padding-top: 20px;
    font-size: large;
  
}
.title {
    text-align: center;
    padding-top: 10px;
}
.common {
    background-color: whitesmoke;
}
.fampic {
    height: 275px;
    outline: 2px solid black;
}
.fampic2 {
    height: 275px;
    width: 300px;
    outline: 2px solid black;

}
.fampic3 {
    height: 275px;
    width: 385px;
    outline: 2px solid black;
}
.campingpic{
    height: 275px;
    outline: 2px solid black;
    width: 220px;
}
.warzonepic{
    height: 275px;
    outline: 2px solid black;
    width: 420px;
}
.copywrite {
    font-style: italic;
    color: black;
    bottom: 2px;
    position: fixed;
    text-align: center;
    left: 5px;
    right: 5px;
    padding: 5px;
    
}
.heading {
    text-align: center;
    font-family: monospace;
    border: 3px outset whitesmoke;

}
.golfpic {
    float: left;
    width: 33.33%;
    height: 250px;
    outline: 2px solid black;
}
.gympic {
    float: middle;
    width: 33.33%;
    height: 300px;
    outline: 2px solid black;
}
.aboutme {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.tableau {
    margin-left: 300px;
}
.tableautitle {
    margin-left: 425px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.experiencehead {
    font-weight: bold;
}